.pw-box {
    display: flex;
    flex-direction: column;
}

.pw-input.error {
    border-color: red;
}

.pw-box > .pw-btn,
.pw-input {
    flex: 1;
    border: 1px solid grey;
    border-radius: 8px;
    height: 32px;
    margin: 4px;
    padding: 8px;
}
